#! /bin/bash
yum update -y
yum install httpd wget -y
service httpd start
chkconfig httpd on
cd /var/www/html
wget https://${url}/${file} || true
echo "<html><h1>This is host $(hostname)</h1><img src="${file}"></html>" > index.html